/*
* @Author: Sophie
* @Date:   2017-04-23 16:02:16
* @Last Modified by:   Sophie
* @Last Modified time: 2017-04-23 17:13:43
*/
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container {
    background-color: #eee;
    border: 1px solid #999;
    margin: 20px;
    padding: 20px;
}

.container > div {
    background-color: #FFF;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

.left {
    width: 200px;
}

.main {
    margin: 0 20px;
    width: calc(100% - 200px - 120px - 40px);
}

.right {
    width: 120px;
}

span {
    vertical-align: top;
}

a img {
    width: 80px;
    height: 80px;
    margin-top: 20px;
}

a:nth-child(1) img {
    margin-top: 0px; 
}