*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 200px;
    width:400px;
    background-color: #ccc;
    position: absolute;
    top:50%; 
    left: 50%;
    margin-left:-200px;                   /*负外边距(Negative Margins)居中*/ /* (width + padding)/2 */  
    margin-top: -100px;                                                     /* (height + padding)/2 */
}
.left,.right{
    height: 50px;
    width:50px;
    background-color: #fc0;
}
.left{
    border-radius: 0 0 100% 0;
}
.right{
    border-radius: 100% 0 0 0;
    position: absolute;
    right: 0;
    bottom:0;
}
/* 优点：

1.      良好的跨浏览器特性，兼容IE6-IE7。
2.      代码量少。

缺点：

1.      不能自适应。不支持百分比尺寸和min-/max-属性设置。
2.      内容可能溢出容器。
3.      边距大小与padding,和是否定义box-sizing: border-box有关，计算需要根据不同情况。 */