*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 200px;
    width:400px;
    background-color: #ccc;
    margin:  auto;
    overflow: hidden;
    position: absolute;           /*绝对定位居中*/
    top:0;                        
    left: 0;
    right: 0;
    bottom: 0;
}
.left,.right{
    height: 100px;
    width:100px;
    background-color: #fc0;
    border-radius: 50px;
}
.left{
    position: absolute;
    left: -50px;
    top:-50px;
}
.right{
    position: absolute;
    right: -50px;
    bottom:-50px;
}
/* 优点：
1.支持跨浏览器，包括IE8-IE10.
2.无需其他特殊标记，CSS代码量少
3.支持百分比%属性值和min-/max-属性
4.只用这一个类可实现任何内容块居中
5.不论是否设置padding都可居中（在不使用box-sizing属性的前提下）
6.内容块可以被重绘。
7.完美支持图片居中。

缺点：
1.必须声明高度（查看可变高度Variable Height）。
2.建议设置overflow:auto来防止内容越界溢出。（查看溢出Overflow）。
3.在Windows Phone设备上不起作用。 */